@charset "utf-8";
@import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Gothic+Coding|Noto+Sans|Noto+Sans+KR|Roboto&display=swap');

html,
body {
    min-width: 310px;
    font-family: 'Gothic A1', 'NanumSquare', 'Nanum Gothic', sans-serif, "Roboto", "Noto Sans KR", "나눔고딕", Malgun Gothic, 맑은고딕, 굴림, 돋움, Dotum;
    height: 100%;
}

body,
p {
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #212529;
    font-family: 'Gothic A1', 'NanumSquare', 'Nanum Gothic', sans-serif, "Roboto", "Noto Sans KR", "나눔고딕", Malgun Gothic, 맑은고딕, 굴림, 돋움, Dotum;
}

p {
    line-height: 1.5;
    margin: 30px 0;
    font-weight: lighter;
}

p a {
    text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.background {
    margin-top: -20px;
    height: 100%;
    position: relative;
}

.background-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    transform: translate(-50%, -50%);
    color: #386eef;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #424242;
}

::-webkit-scrollbar-thumb {
    background: #386eef;
}

::-webkit-scrollbar-thumb:hover {
    background: #671ce9;
}

::-moz-selection {
    background: #30c8ff;
    color: #000;
}

::selection {
    background: #30c8ff;
    color: #000;
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

#scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-top: -100px;
    margin-left: -12px;
    border-left: 1px solid #386eef;
    border-bottom: 1px solid #386eef;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.icon-bar_1,
.icon-bar_2,
.icon-bar_3 {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .icon-bar_1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .icon-bar_2 {
    opacity: 0;
}

.change .icon-bar_3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.link:hover {
    opacity: 0.7;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.footer {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    color: #8c8c8c;
}